.timeline{
  margin: 2rem;
  position: relative;
}
.timeline::after{
  content: '';
  position: absolute;
  width: 6px;
  height: 100%;
  background-color: #fff;
  top: 0;
  left: 50%;
  margin-left: -3px;
}
.container{
  width: 50%;
  position: relative;
  cursor: pointer;
}
.left-container{
  left: 0%;
}
.right-container{
  left: 50%;
}

.text-box{
  margin: 0.2rem 2rem;
  padding: 0.5rem;
  background: #fff;
  position: relative;
  border-radius: 5px;
  text-align: justify;
}
.text-box img{
  width: 90%;
  left: 10%;
}

.icon-box img{
  width: 2rem;
  height: 2rem;
  position: absolute;
  background-color: #e6b413;
  border-radius: 50%;
  top: 10px;
  z-index: 3;
}
.icon-box img:hover{
  width: 2.5rem;
  height: 2.5rem;
}
.right-container .icon-box img{
  left: -16px;
}
.left-container .icon-box img{
  right: -16px;
}

.left-container-arrow{
  height: 0;
  width: 0;
  position: absolute;
  top: 10px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #fff;
  right: 20px;
}

.right-container-arrow{
  height: 0;
  width: 0;
  position: absolute;
  top: 10px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #fff;
  left: 20px;
}

